*{
    margin:0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 20px;
    text-align: center;
}

.mainSection{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv{
    display: flex;
    flex-direction: column;
}

.jeu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devineP{
    text-align: center;
}

.historyP{
    text-align: center;
}

.erreur{
    visibility: hidden;
}

#erreur{
    
    animation: horizontal-shaking 0.5s;
}

footer{
    margin-top: auto;
    width: 100%;
    text-align: center;
}

svg{
    width: 100%;
}

#rect2{
    width: 0px;
    animation: anim1 2s ease forwards; 
    display: none;
}

#rect3{
    height: 0px;
    animation: anim2 2s ease forwards;
    display: none;
}

#rect4{
    width: 0px;
    animation: anim3 2s ease forwards;
    display: none;
}

#rect5{
    height: 0px;
    animation: anim4 2s ease forwards;
    display: none;
}

#rect6{
    height: 0px;
    animation: anim5 2s ease forwards;
    display: none;
}

#rect7{
    stroke-dashoffset: 800px;
    stroke-dasharray: 800px;
    animation: anim6 8s ease forwards;
    display: none;
}

#rect8{
    height: 0px;
    animation: anim7 2s ease forwards;
    display: none;
}

#rect9{
    width: 0px;
    animation: anim8 2s ease forwards;
    display: none;
}

#rect10{
    width: 0px;
    animation: anim8 2s ease forwards;
    display: none;
}

#rect11{
    width: 0px;
    animation: anim8 2s ease forwards;
    display: none;
}

@keyframes anim2 {
    to {
        height: 190px;
    }
}
@keyframes anim1 {
    to {
        width: 60px;
    }
}
@keyframes anim3 {
    to {
        width: 180px;
    }
}
@keyframes anim4 {
    to {
        height: 40px;
    }
}
@keyframes anim5 {
    to {
        height: 20px;
    }
}
@keyframes anim6 {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes anim7 {
    to {
        height: 68px;
    }
}
@keyframes anim8 {
    to {
        width: 40px;
    }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }